
       body {
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }
        .log-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
       
        input[type="email"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            padding: 10px 20px;
            background-color: #303841;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .danger {
            color: red;
            display: none; /* Initially hidden */
        }
        .links {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
        .links a {
            color: #f1f1f1;
            text-decoration: none;
            font-size: 0.9em;
        }
        .links a:hover {
            text-decoration: underline;
        }
        .navbar {
            margin-bottom: 20px; /* Adds space below navbar */
           
            }
            .footer {
            margin-top: auto; /* Pushes footer to the bottom */
            
            }
            
 
